<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Proforma Invoice</title>
		<link rel="stylesheet" href="style.css">
		<link rel="license" href="http://www.opensource.org/licenses/mit-license/">
		<script src="client.js"></script>
	</head>
	<body>
		<header>
		
			
			<span><img alt="" src="logo.png"><input type="file" accept="image/*"></span>
				<h1>Invoice<span contenteditable>#</span></h1>

				<h2>Cocoon Worldwide, LLC.<br/>13931 Central Ave.<br/>Chino, CA 91710<br/>hello@thecocoon.io</h2>
		</header>
		<article>
		
<hr class="subtle">
		<!-- 	<table class="meta">
				<tr>
					<th><span contenteditable>Invoice #</span></th>
					<td><span contenteditable>101138</span></td>
				</tr>
				<tr>
					<th><span contenteditable>Bill to:</span></th>
					<td><span contenteditable>101138</span></td>
				</tr>
				<tr>
					<th><span contenteditable>Date</span></th>
					<td><span contenteditable>January 1, 2012</span></td>
				</tr>
				<tr>
					<th><span contenteditable>Amount Due</span></th>
					<td><span id="prefix" contenteditable>$</span><span>600.00</span></td>
				</tr>
			</table> -->


			<table class="meta">
				
				<tr>
					<td class="billtocell" width="200">
						<h2>
							BILL TO
						</h2><br>
						<div class="billto" contenteditable>
							Lokai<br>
							Lokai Holdings LLC.<br>
							36 East 31st Street<br>
							Suite 602<br>
							New York, NY 10016<br>
						</div>
					</td>
					<td class="datecell">
						<h2>
							DATE
						</h2><br>
						<span contenteditable>
						07/11/2016
						</span>
					</td>

					
	
					<td class="duecell">
						<h2>
							DUE DATE
						</h2><br>

						<span contenteditable>
						07/11/2016
						</span>
					</td>

					<td class="paycell">
						<h2>
							PLEASE PAY
						</h2><br>
						<span>600.00</span>
						</span>

					</td>
				</tr>
			</table>
		
<hr class="subtle">
			<table class="inventory">
				<thead>
					<tr>
						<th><span>Item</span></th>
						<th><span>Description</span></th>
						<th><span>Rate</span></th>
						<th><span>Quantity</span></th>
						<th><span>Total</span></th>
						<th><span>Progress</span></th>
						<th><span>Total Due</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a class="cut">-</a><span contenteditable>Front End Consultation</span></td>
						<td><span contenteditable>Experience Review</span></td>
						<td><span data-prefix>$</span><span contenteditable>150.00</span></td>
						<td><span contenteditable>4</span></td>
						<td><span data-prefix>$</span><span>600.00</span></td>
						<td><span contenteditable>50%</span></td>
						<td><span data-prefix>$</span><span>600.00</span></td>
					</tr>
				</tbody>
			</table>
			<a class="add">+</a>
			
<hr class="subtle">
	<!-- 		<table class="balance">
				<tr>
					<th><span contenteditable>Total</span></th>
					<td><span data-prefix>$</span><span>600.00</span></td>
				</tr>
				<tr>
					<th><span contenteditable>Amount Paid</span></th>
					<td><span data-prefix>$</span><span contenteditable>0.00</span></td>
				</tr>
				<tr>
					<th><span contenteditable>Balance Due</span></th>
					<td><span data-prefix>$</span><span>600.00</span></td>
				</tr>
			</table> -->

				<table class="balance">
				<tr>
					<td><span class="amtpdlabel">Total</span>
					<span class="amtpd" data-prefix>$</span><span class="amtpd">600.00</span></td>
				</tr>
				<tr>
					
					<td><span class="amtpdlabel">Amount Paid</span><span class="amtpd" data-prefix>-$</span><span class="amtpd" contenteditable>600.00</span></td>
				</tr>
			
				<tr>
					
					<td><span class="label">Total Due</span><span class="totalamt" data-prefix>$</span><span class="totalamt" contenteditable>600.00</span></td>
				</tr>
			
			</table>





				<table class="intro">
				<tr>
				<td>
				<span class="recip">NOTE:</span>
					<p class="intropar" contenteditable>
PLS WIRE/BOOK TRANSFER TO CHASE BANK A/C NO 990860355
<br/>Routing 322271627
<br/>SWIFT CHASUS33
<br/>NO CHECKS PLEASE
 
					</p>
					</td>
				</tr>
				
			</table>
		</article>


	</body>
</html>